.repl_history
ib.xcodeproj/
Gemfile.lock
build
tags
app/pixate_code.rb
resources/*.nib
resources/*.momd
resources/*.storyboardc
vendor/
.DS_Store
nbproject
.redcar
#*#
*~
*.sw[po]
.env
.eprj
.sass-cache
.idea
.dat*.*
